body{
    background-color: rgb(233, 157, 64);
    background-size: cover;
    background-position: center center;
}

h1{
    background-color: rgba(255, 255, 255, 0.45);
    padding: 50px;
    text-align: center;        
    font-family: Verdana,sans-serif;    
    color: black;
    font-size: 500%;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    top: 210px;
}

h2{
    color: black;
    font-variant: small-caps;
    text-decoration: underline dashed;
    margin-bottom: 10px;
    
}

h3{
    background-color: rgb(233, 157, 64);
    color: white;
    margin-bottom: 0;
    border-top: 6px black solid;
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

main{
    background-color: rgba(255 255 255 / 0.7);
}
footer{
    background-color: black;
    color: white;
}
header{
    height: 500px;
    background-image: url(img/egyptian-desert-with-river-pyramids_107791-5323.jpg);
    background-size: cover;
    background-position: center center;
    
}
p{
    text-indent: 10px;
}
li{
    list-style: url(../img/pine-cone.png);
    line-height: 30px;
}
a, button{
    background-color: rgb(233, 157, 64);
    border: 1px white solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: auto;
    background-position: center center;
    align-items: center;
    text-align: center;
}