body{
    background-color: #404040;
    background-size: cover;
}
h1{
    font-weight: bolder;
    font-variant: small-caps;
}

h2{
    text-transform: capitalize;
    line-height: 55px;
    text-indent: 1.5px;
}

p{
    text-align: justify;
    
}

h1, h2{
    color: #5c3829;
}

h3{
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
}

img{
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.felkover{    
    color: rgb(16, 37, 82);
    font-weight: bold;
}

.dolt{
    color: rgb(16, 37, 82);
    font-style: italic;
    font-family: Arial;
}

.jobbra a, #link a{
    color: rgb(16, 37, 82);
    font-variant: small-caps;    
    padding: 5px;
}

.jobbra a:hover, #link a:hover{
    background-color: green;
}

.jobbra{
    text-align: right;
    font-style: italic;
}

.navbar, footer{

    background-color: #404040;
}

.header{
    height: 300px;
    background-image: url(../img/szfarkas_bg.jpg);
    margin: auto;
    background-size: cover;
}
span{
    font-style: italic;
}

#felsorolas{
    list-style: url(../img/farkas.png);
}
#taplalek{
    background-color: rgba(65, 65, 65, 0.6);
    width: 75%;
    font-size: 120%;
    color: white;
    border: 5px double #5c3829;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

#link{
    text-decoration: none;
}
